html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  margin: 0;
  font-family: 'Sen', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* NAVBAR STYLES */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #090b13;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}
.disney-logo {
  width: 70px;
  height: 70px;
  margin: 0 2.5rem;
}

.login-btn {
  margin: 0 2.5rem;
  background: transparent;
  color: #f9f9f9;
  border: 1px solid #f9f9f9;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  justify-self: flex-end;
}

/* login container */
.login-container {
  background-image: url(/public/assets/images/login-background.jpg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

#landing-page {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
}
/* call to action */
#landing-page img {
  width: 90%;
}

#cta-btn {
  width: 100%;
  background: #0063e5;
  padding: 1rem;
  border: none;
  border-radius: 2px;
  color: #f9f9f9;
  text-transform: uppercase;
  font-weight: 700;
}

#landing-page p {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.3;
}

/* MAIN PAGE */

.main-container {
  background-image: linear-gradient(to bottom, rgba(4, 7, 20, 0.9), rgb(9, 11, 19));
  margin-top: 6rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

/* SLIDER COMPONENT */
.slider {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.slider-images {
  display: flex;
}

.slider-img {
  width: 100%;
}

.dot-btn {
  margin: 1.5rem 0.8rem;
  width: 0.8rem;
  height: 0.8rem;
  border: none;
  border-radius: 50%;
  background-color: rgba(243, 243, 243, 0.3);
}

.btn-active {
  background-color: #f3f3f3;
}

.translate-slide {
  transition: transform 0.5s ease-in;
}

.brands-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 10rem;
  margin-bottom: 2.5rem;
  gap: 1.5rem;
}


.brand-img {
  border: 2px solid rgba(243, 243, 243, 0.2);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 1px 1px 1px rgba(243, 243, 243, 0.2);
  border-radius: 5px;
}

h5 {
  margin-bottom: 1rem;
}

.thumbnail-container {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 1px 1px 1px rgba(243, 243, 243, 0.2);
  border-radius: 5px;
}


/* MEDIA QUERIES */
@media (max-width: 50em) {
    .thumbnails{
        gap: 1rem;
    }
}



@media (max-width: 43em) {
    .brands-container{
        gap: 1rem;
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 34.4em) {
    .thumbnails{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:25em){
    .brands-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:18em){
    .brands-container{
        gap: 1.5rem;
        grid-template-columns: 1fr;
    }
}
